@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}
nav{
  background: #fff;
  padding: 5px 40px;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #33ffff;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo{
  flex: 1;
  color: black;
  font-size: 23px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}
nav ul li a{
  color: black;
  font-size: 18px;
  text-decoration: none;
  transition: .4s;
}
nav ul li:hover a{
  color: rgb(51, 202, 202);
}
nav ul li i{
  font-size: 23px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}
@media all and (max-width: 900px){
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
    z-index: 2;
  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px #000000,
                inset 0 0 10px #000000;
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  #btn-nav{
      width: 130px;
      height: 45px;
      background-color: #e03a3c;
      border-radius: 5px;
      border: 2px solid #e03a3c;
      color: #fff;
  }
  .d-block{
      max-height: 800px;
  }
  .carousel-caption{
      color: black;

  }
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-banner {
    min-width: 400px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;

    }
  
  .btn-banner::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(400px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .btn-banner:hover, .btn-banner:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .btn-banner:hover::before, .btn-banner:focus::before {
    opacity: 1;
  }
  
  .btn-banner::after {
    content: '';
    width: 40px; height: 40px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index:  -1;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
    

  }
  
  .btn-banner:hover::after, .btn-banner:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 40px;
      height: 40px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }  
  .type-writer-text {
    position: absolute;
    font-size: 50px;
     margin-bottom: 170px;
     font-family: 'Anton', sans-serif;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    backdrop-filter: blur(10px);
    border-right: 1px solid #dedede;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 5s steps(50) 0.5s 1 normal both,
      cursorblink 0.5s infinite;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    
    to {
      width: 28.5em;
    }
  }
  
  @keyframes cursorblink {
    from {
      border-right: 1px solid #dedede;
    }
    
    to {
      border-right: 1px solid #666;
    }
  }
  body::-webkit-scrollbar {
    width: 1.2em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(219, 74, 7, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
  }
  .button-banner-hover {
    border-radius: 5px;
    background-color: #5c5c5c;
    border: none;
    color: #f7d200;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    height: auto;
    margin-bottom: 50px;
  }
  
  .button-banner-hover span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button-banner-hover span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button-banner-hover:hover span {
    padding-right: 25px;
  }
  
  .button-banner-hover:hover span:after {
    opacity: 1;
    right: 0;
  }
  .container {
    max-width: 1320px;
  }
  section {
    overflow: hidden;
    
  }
  
  .section-bg {
    background: #d8d8d8;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    
    
  }
  
  .section-header h3 {
    font-size: 36px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
  }
  
  .section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
  }
  
  @media (max-width: 767px) {
    .section-header p {
      width: 100%;
    }
  }
  
  #services {
    padding: 60px 0 40px 0;
  }
  
  #services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
  }
  
  #services .box:hover {
    transform: scale(1.1);
  }
  
  #services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
  #services .icon .service-icon {
    font-size: 36px;
    line-height: 1;
  }
  
  #services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  #services .title a {
    color: #111;
  }
  
  #services .box:hover .title a {
    color: #c59c35;
  }
  #services .box:hover .title a:hover {
    text-decoration: none;
  }
  #services .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
  }
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
    padding-left: 70px;
    margin-right: 70px;
  }
  
  .portfolio h2 {
    flex-basis: 100%;
    text-align: center;
    margin: 50px auto 30px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    color: #111;
  }
  .card {
    width: 25%;
    overflow: hidden;
    position: relative;
  }
  .card .content {
    z-index: 2;
    width: 100%;
    position: absolute;
    bottom: -100px;
    transition: all 0.7s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    height: 35px;
    background: #111;
  }
  .card .image {
    z-index: 1;
    height: 100%;
  }
  .card img {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
    transform: scale(1.2);
  }
  
  .card:hover .content {
    bottom: 0px;
    color: #fff;
  }
  
  .card:hover .image img {
    transform: scale(1);
  }
  
  .card .content span:first-child {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    font-size: 16px;
  }
  
  .card .content span:last-child {
    font-size: 14px;
    color: #18cfab;
    text-align: center;
    font-weight: 700;
  }
  
  
  @media screen and (max-width: 768px) {
    .card {
    width: 50%;
    }
    .card .content {
      bottom: 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    .card {
    width: 100%;
    }
  }
  .card {
    box-shadow: 0px 4px 8px 0px #BDBDBD
}

.profile-pic {
    width: 100px !important;
    height: 100px;
    box-shadow: 0px 4px 8px 0px #BDBDBD
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: #1E88E5 !important;
    border: none;
    padding: 5px 20px !important;
    font: inherit;
    font-size: 50px !important
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    color: #0D47A1 !important;
    background-color: transparent !important
}

.owl-dots {
    display: none
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.item {
    display: none
}



